.form {
  background: #a67a536c;
  width: 350px;
  padding: 25px;
  margin: auto;
  border-radius: 15px;
}

.form div label {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
  color: #592d14;
}

.form div input {
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.form div input::placeholder {
  color: #a67a539d;
  font-weight: 500;
  font-size: 16px;
}
