footer {
  margin-top: 2em;
  text-align: center;
  color: #f2daac;
  background: #592d14;
  padding: 0.25em 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p span {
  font-weight: 700;
}
