button {
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #a67a53;
  color: #592d14;
  font-size: 16px;
  font-weight: 800;
  box-shadow: 2px 2px 5px #592d14;
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: #592d14;
  color: #a67a53;
}
