.header {
  background: var(--bg-dark);
  box-shadow: var(--shadow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  height: 150px;
  width: 100vw;
  margin-bottom: 30px;
}

.header img {
  position: absolute;
  left: 15%;
  max-width: 260px;
  height: 100%;
}

.header h1 {
  color: var(--text-dark);
  text-shadow: 1px 1px 1px var(--text-light);
  font-size: 46px;
}
@media (max-width: 1078px) {
  .header img {
    left: 0;
    max-width: 240px;
  }
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    height: 230px;
  }
  .header img {
    margin: auto;
    position: relative;
    left: 0;
  }
}
