.header {
  background: #a67a53d1 /*#592d14 #8c5b30*/;
  text-align: center;
  padding: 10px;
  position: relative;
}

.header img {
  position: absolute;
  left: 30%;
  max-width: 140px;
  padding-right: 30px;
}

.header h1 {
  color: #f2daac;
  font-size: 46px;
}
