.header {
  background: var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  height: 150px;
  margin-bottom: 30px;
}

.header img {
  position: absolute;
  left: 20%;
  max-width: 140px;
}

.header h1 {
  color: var(--text-light);
  font-size: 46px;
}
@media (max-width: 1078px) {
  .header img {
    left: 15%;
    max-width: 120px;
  }
  .header h1 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header {
    flex-direction: column;
    height: 200px;
  }
  .header img {
    margin: auto;
    position: relative;
    max-width: 100px;
    left: 5%;
  }
}
